<li class="country-item">
{{#each this}}
<ul class="country-prev">
<li><p class="country-name">Name official: {{name.official}}</p></li>
<li><img src="{{flags.svg}}" alt="" class="country-flag"></li>
</ul>
{{/each}}
</li>